.BurgerBuilder {
  display: flex;
  flex-flow: column;
  background-size: cover;
  background-position: top;
  color: white;
  min-height: 100vh;
  padding-top: 56px;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .BurgerBuilder {
    flex-flow: row;
    padding-top: 0;
  }
}