.OrderSummary {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  padding: 16px;
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.OrderSummary h3 {
  width: 100%;
  margin: 0;
  text-align: center;
}

.OrderSummary div {
  width: 50%;
  text-align: center;
}

.OrderSummary ul {
  list-style: none;
  padding: 0;
}

@media (min-height: 420px) {
  .OrderSummary > div {
    width: 100%;
  }
}

@media (min-width: 400px) and (min-height: 400px) {
  .OrderSummary {
    font-size: 1rem;
  }
}